@import url("btns.css");
@import url("header.css");
@import url("rules.css");

body{
    background-color: #fafaf9 !important;
}

.accent{
    color: var(--accent);
}

.btn-primary-admin{
    display: flex;
    background-color: var(--accent);
    color: #fff;
    text-decoration: none;
    width: 20%;
    height: 45px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}

.grid-layout{
    display: flex;
    column-gap: 4%;
}

.app-layout{
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    width: 85%;
    min-height: fit-content;
    padding: 40px 20px;
}


.title_button-layout{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* =========================
   SIDE-MENU
========================= */

svg{
    display: block;
    height: 40%;
}

.grid-layout{
    display: grid;
    grid-template-columns: auto 80%;
}

.side-menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 0 0 120px;
    row-gap: 20dvh;
}

.side-menu a{
    text-decoration: none;
    color: #000;
}

.side-navbar{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 250px;
}

.nav-item{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 60px;
    width: 100%;

    column-gap: 4%;

    padding-left: 4%;

    border: none;
    border-radius: 8px;

    background-color: transparent;

}

.nav-item:hover{
    background-color: #f5f5f0;

    svg path{
        stroke: var(--accent);
    }

    svg.chato{
        path{
            stroke: none;
        }

        path.feio{
            fill: var(--accent) !important;
        }
    }

    color: var(--accent);
}

.nav-item.select{
    background-color: var(--accent);

    svg path{
        stroke: #fff;
    }

    svg.chato{
        path{
            stroke: none;
        }

        path.feio{
            fill: #fff !important;
        }
    }

    color: #fff;
}


/* =========================
   DASHBOARD
========================= */

span.titles{
    h1{
        font-weight: 600;
        font-size: 30px;
    }
    h2{
        font-weight: 300;
        font-size: 20px;
    }
}

.div-info{
    display: grid;
    grid-auto-flow: column;
    column-gap: 2%;
    height: 20dvh;
    min-height: fit-content;
}



.info-item{
    display: grid;
    align-items: center;
    grid-template-areas: 
        "SVG adicional"
        "espaco espaco"
        "pri pri"
        "sec sec"
    ;
    grid-template-columns: auto 30%;
    grid-template-rows: auto 20% 30% 20%;

    padding: 5%;

    height: 150px;
    width: 100%;

    box-sizing: border-box;


    background-color: #fff;
    border: 2px solid var(--border);
    border-radius: 8px;

    color: #000;
    text-decoration: none;

    .svg{
        grid-area: SVG;
    }

    h1{
        grid-area: pri;
    }

    p.sec{
        grid-area: sec;
    }
}

.info-item:hover{
    border-color: var(--gold);
}

.add-info{
    grid-area: adicional;
    color: var(--accent);
    text-align: end;
}

.info-item{

    h1{
        font-weight: 500;
        font-size: 1.7rem;
    }

    p{
        font-size: 15px;
    }
}

.info-item svg{
    height: 40px;
    width: 40px;

    padding: 5%;

    background-color: #f5f5f0;

    path{
        stroke: var(--accent);   
    }

    border-radius: 8px;
}

.svg-fill path{
    fill: var(--accent);
}

/* LAPTOP L */
@media (max-width:1440px) {

    .info-item{
        width: 90%;
        h1{
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 900px) {
    .div-info{
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
        row-gap: 10%;
        height: min-content;
    }

    .info-item{
        height: 100%;
    }
}

@media (max-width:768px) {
    .grid-layout{
        grid-template-columns: auto;
    }

    .app-layout{
        padding: 40px 140px;
        width: 100%;
    }

    .side-menu{
        display: none;
    }

}

@media (max-height: 750px) {
    .div-info{
        height: 24dvh;
    }
}

/* table */

/* =========================
   WRAPPER (SCROLL)
========================= */

.table-wrapper {
    max-height: 60dvh;
    overflow-y: auto;
    border: 1px solid var(--border);
    border-radius: 8px;
}

/* =========================
   TABELA
========================= */

.table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

/* =========================
   HEADER FIXO
========================= */

.table thead th {
    position: sticky;
    top: 0;
    background: #f8f9fb;
    z-index: 2;
    font-size: 13px;
    text-transform: uppercase;
    color: #888;
}

/* =========================
   CÉLULAS
========================= */

.table th,
.table td {
    padding: 14px 16px;
    text-align: left;
    font-size: 14px;
    color: #333;
}

.table th a,
.table td a {
    color: var(--accent);
    text-decoration: none;
}

.table th a:hover,
.table td a:hover {
    text-decoration: underline;
}

/* Ícones */
.table td:has(svg) {
    display: flex;
    gap: 16px;
    align-items: center;
}

.table td svg {
    height: 25px;
    width: auto;
}

/* =========================
   LINHAS
========================= */

.table tbody tr {
    border-bottom: 1px solid #eee;
    transition: background 0.2s ease;
}

.table tbody tr:hover {
    background: #f5f7fa;
}

/* =========================
   TÍTULO
========================= */

.table-title {
    font-size: 18px !important;
    font-weight: 600;
    background: #fff;
    border-bottom: 2px solid #eee;
    height: 75px;
}

/* =========================
   BADGES
========================= */

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    height: 30px;
    margin-top: 3%;
    text-decoration: none;
}

.badge.enviado {
    background-color: var(--chart-1);
    color: #fff;
}

.badge.pendente {
    background-color: var(--chart-5);
    color: var(--chart-2);
}

.badge.pago {
    background-color: var(--chart-4);
    color: var(--chart-3);
}

.badge.entregue {
    background-color: var(--muted);
    color: #4a5565;
}

.badge.cancelado {
    background-color: #000;
    color: #fff;
}

/* =========================
   UTILIDADES
========================= */

.table-center {
    text-align: center;
}

.table-sm td,
.table-sm th {
    padding: 10px 12px;
}

.table-bordered {
    border: 1px solid #eee;
}

/* =========================
   BADGES (STATUS / TAGS)
========================= */

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    height: 30px;
    margin-top: 3%;
    text-decoration: none; 
}

/* Variações */
.badge.enviado {
    background-color: var(--chart-1);
    color: #fff;
}

.badge.pendente {
    background-color: var(--chart-5);
    color: var(--chart-2);
}

.badge.pago {
    background-color: var(--chart-4);
    color: var(--chart-3);
}

.badge.entregue{
    background-color: var(--muted);
    color: #4a5565;
}

.badge.cancelado {
    background-color: #000;
    color: #fff;
}

/* =========================
   OPCIONAL (UTILIDADES)
========================= */

/* Centralizar conteúdo (se precisar) */
.table-center {
    text-align: center;
}

/* Coluna mais estreita */
.table-sm td,
.table-sm th {
    padding: 10px 12px;
}

/* Tabela com borda externa leve */
.table-bordered {
    border: 1px solid #eee;
}


/* ==========================
    pedido detalhes
========================== */

.sec-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--background);
    padding: 2%;

    height: fit-content;

    color: var(--font-color-dark);

    border: 1px solid var(--border);
    border-radius: 8px;

    h1{
        font-weight: 600;
        font-size: 1.3rem;
        margin-bottom: 1.5%;
    }
    
    p{
        font-size: 1rem;
    }
}

.sec-item:last-child{
    margin-bottom: 50px;
}

.pedido-item{
    display: grid;
    grid-template-columns: .2fr auto .2fr;
    align-items: center;

    position: relative;

    gap: 15px;
    padding: 15px 20px 15px 15px;

    height: 15dvh;

    background: #fff;
    border-radius: 12px;
}

.pedido-item:not(:last-child)::after{
    content: "";
    position: absolute;

    left: 50%;
    bottom: 0;

    transform: translateX(-50%);

    width: 90%;
    height: 2%;

    background-color: var(--border);
}

.pedido-item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 80%;
}

.pedido-item-nome{
    color: var(--font-color-dark);
    font-weight: 600;
}

.pedido-item-tamanho{
    font-weight: 350;
}

.pedido-item-quantidade{
    font-weight: 350;
}