#toast-container {
    position: fixed;
    right: 24px;
    bottom: 24px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    z-index: 9999;
}

.toast {
    min-width: 300px;
    max-width: 420px;

    padding: 14px 18px;

    border-left: 5px solid;

    background: #8f8e8e;
    color: #f9fafb;

    border-radius: 8px;

    font-size: .95rem;
    line-height: 1.4;

    box-shadow: 0 12px 30px rgba(0,0,0,.3);

    opacity: 0;
    transform: translateX(120%);
    transition: .3s;
}

.toast.show {
    opacity: 1;
    transform: translateX(0);
}

.toast-success {
    border-color: #22c55e;
}

.toast-error {
    border-color: #ef4444;
}

.toast-warning {
    border-color: #f59e0b;
}

.toast-info {
    border-color: #3b82f6;
}